
html {
    padding: 0px;
    margin: 0px;
    /* background-color: rgb(248, 242, 242); */
    font-family: 'Belanosima', sans-serif;
}

body {
    padding: 0px;
    margin: 0px;
    color: rgb(0, 0, 0);
    
}